*{margin:0;padding:0;box-sizing:border-box}html{background:url(./bg-space.png) repeat}body{font-family:Gugi,cursive}.wrapper{width:100vw;height:100vh;display:flex;justify-content:center;align-items:center}canvas{border:1px solid #FFFFFF}
